<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Agile</title>
</head>

<body>
    <header>
        <!-- <img class="logo" src="Agile Logo.png" width="50" alt="logo"> -->
        <h1>AgileSupport</h1>
        <nav>
            <ul class="nav__links">
                <li><a href="#">Projects</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
        <a class="button" href="#"><button>Register</button></a>
    </header>

    <div class="cards">
        <div class="card1">


            <div class="container">
                <img src="dev.jpg" alt="development">
                <div class="details">
                    <h3>Web development</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>


        </div>
        <div class="card2">
            <div class="container">
                <img src="design.jpg" alt="design">
                <div class="details">
                    <h3>Web development</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>



        <div class="card3">
            <div class="container">
                <img src="dev.jpg" alt="development">
                <div class="details">
                    <h3>Web development</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>


        </div>
    </div>
</body>

</html>