*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-image: radial-gradient(#0A1A60,#0E1337);
}
/* utility Classes */
.container{
  max-width:1320px;
  margin:auto;
}
@media(max-width:1200px){
  :root{
    font-size: 14px;
  }
  .container{
    
    max-width:1140px;
  }
}
@media(max-width:992px){
  :root{
    font-size: 12px;
  }
  .container{
    max-width:960px;
  }
}
@media(max-width:768px){
  :root{
    font-size: 10px;
  }
  .container{
    max-width:720px;
  }
}
@media(max-width:576px){
  .container{
    max-width:540px;
  }
}
@media(max-width:576px){
  .container{
    max-width:540px;
  }
}
.text-white{
  color:white;
}
.opacity-80{
  opacity:80%;
}
.tracking-wide{
  letter-spacing:5px;
  
}
.text-center{
  text-align: center;
}
.h-screen{
  height: 100vh;
}
.flex{
  display: flex;
}
.justify-center{
  justify-content: center;
}
.items-center{
  align-items:center;
}
.flex-col{
  flex-direction: column;
}
.mt-5{
 margin-top: 50px;
}
.my-5{
  margin: 50px 0px;
 }
 .my-2{
  margin: 20px 0px;
 }
.gap-2{
  gap: 10px;
}
